:root {

  --color-bg: #0D1117;
  --color-text-main: #C9D1D9;
  --color-text-second: #8B949E;
  --color-text-link: #5596F1;

  --color-text-btn: #FFFFFF;
  --color-btn: #238636;
  --color-stroke-btn: #38914B;
  --color-btn-hover: #2EA043;

  --color-bg-mainbox: #161B22;
  --color-stroke-mainbox: #29303B;
  --color-bg-input-mainbox: #0D1117; /*repeat*/
  --color-stroke-input-mainbox: #29303B; /*repeat*/
  --color-stroke-inpit-mainbox-hover: #1752B0;

  --color-bg-alertbox: #301A1F;
  --color-stroke-alertbox: #7F302F;

  --color-bg-greenbox: #1A301A;
  --color-stroke-greenbox: #2F7F2F;
  --color-bg-input-greenbox:#0D1117; /*repeat*/
  --color-stroke-input-greenbox: #293B29;
  --color-stroke-input-greenbox-hover: #15A315;

  --width-box: 320px;
  --width-input-btn: 266px;
  --height-input-btn: 32px;
  --gap-box: 16px;

}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px var(--color-bg) inset;
    -webkit-text-fill-color: var(--color-text-main);
}

html {
  background: var(--color-bg);
  color: var(--color-text-main);
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 400;
}

.header {
  box-sizing: border-box;
  padding: 40px 0 0 0;
}

.logo {
  display: block;
  margin: 0 auto;
}

.main {
  box-sizing: border-box;
  padding: 20px 0;
}

.title {
  font-family: 'Josefin Sans', Arial, sans-serif;
  font-weight: 300;
  font-size: 28px;
  text-align: center;
  letter-spacing: -1px;
  display: block;
  max-width: var(--width-box);
  margin: 0 auto 20px;
  line-height: 1.2;
}

.redallert {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 12px 20px;
  width: var(--width-box);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-alertbox);
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.2;
  border: solid 1px var(--color-stroke-alertbox);
  align-items: center;
  margin-bottom: 16px;
}

.allert_text {
  max-width: 234px;
  margin: 0;
}

.allert_exit {
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  background-image: url(../images/redallert_exit.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.allert_exit:hover {
  opacity: 0.6;
}

.signin_box {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  width: var(--width-box);
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--color-bg-mainbox);
  border: solid 1px var(--color-stroke-mainbox);
  margin-bottom: 16px;
}

.signin_form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: var(--width-input-btn);
}

.lable {
  margin-bottom: 8px;
}

.input {
  width: var(--width-input-btn);
  height: var(--height-input-btn);
  border-radius: 6px;
  background-color: var(--color-bg);
  border: solid 1px var(--color-stroke-input-mainbox);
  margin-bottom: 18px;
  color: var(--color-text-main);
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  box-sizing: border-box;
  padding: 0 12px;
  outline: none;
  font-size: 14px;
}

.input:focus {
  box-shadow: 0 0 5px var(--color-stroke-inpit-mainbox-hover);
}

.lable_box {
  display: flex;
  justify-content: space-between;
}

.link {
  font-size: 14px;
  line-height: 1.2;
  cursor: pointer;
  color: var(--color-text-link);
  transition: 0.2s ease-in;
}

.link:hover {
  opacity: 0.6;
}

.signin_btn {
  background-color: var(--color-btn);
  width: var(--width-input-btn);
  transition: 0.2s ease-in;
  border-radius: 6px;
  box-shadow: none;
  color: var(--color-text-btn);
  height: var(--height-input-btn);
  cursor: pointer;
  border: solid 1px var(--color-stroke-btn)
}

.signin_btn:hover {
  background-color: var(--color-btn-hover);
}

.greenallert {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 12px 20px;
  width: var(--width-box);
  display: flex;
  justify-content: space-between;
  background-color: var(--color-bg-greenbox);
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.2;
  border: solid 1px var(--color-stroke-greenbox);
  align-items: center;
  margin-bottom: 16px;
}

.greenallert_exit {
  width: 24px;
  height: 24px;
  border: none;
  background: transparent;
  background-image: url(../images/greenallert_exit.png);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.greenallert_exit:hover {
  opacity: 0.6;
}

.forgot_box {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 20px;
  width: var(--width-box);
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.2;
  background-color: var(--color-bg-greenbox);
  border: solid 1px var(--color-stroke-greenbox);
  margin-bottom: 16px;
}

.forgot_form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: var(--width-input-btn);
}

.forgot_input {
  width: var(--width-input-btn);
  height: var(--height-input-btn);
  border-radius: 6px;
  background-color: var(--color-bg);
  border: solid 1px var(--color-stroke-input-greenbox);
  margin-bottom: 18px;
  color: var(--color-text-main);
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 500;
  line-height: 1.2;
  box-sizing: border-box;
  padding: 0 12px;
  outline: none;
  font-size: 14px;
}

.forgot_input:focus {
  box-shadow: 0 0 5px var(--color-stroke-input-greenbox-hover);
}

.prospect {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 12px 20px;
  width: var(--width-box);
  background-color: var(--color-bg);
  border-radius: 6px;
  font-size: 16px;
  line-height: 1.2;
  border: solid 1px var(--color-stroke-mainbox);
  text-align: center;
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.2;
}

.prospect_link {
  line-height: 1.2;
  cursor: pointer;
  color: var(--color-text-link);
  transition: 0.2s ease-in;
}

.prospect_link:hover {
  opacity: 0.6;
}

.footer {
  box-sizing: border-box;
  padding: 62px 0 0 0;
  text-align: center;
}

.hide {
  display: none;
}

.author {
  color: var(--color-text-second);
}